<mat-card>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-card-title>Details </mat-card-title>
        <mat-card-content>     
            <mat-card>
                <!-- ngForm -lets angular know the variable that will be used to access the form details later -->
                <!-- ngModel -lets angular know which variables to be tracked  -->
                {{userForm.value|json}}
                <br>
                <mat-form-field>
                    <mat-label>Date</mat-label>
                    <input matInput name="Date" type="date" [(ngModel)]="bpLocal.recordDate" class="form-control">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Morning</mat-label>
                    <input matInput name="morning" type="text" [(ngModel)]="bpLocal.morning" class="form-control">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Afternoon</mat-label>
                    <input matInput name="afternoon" type="text" [(ngModel)]="bpLocal.afternoon" class="form-control">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Night</mat-label>
                    <input matInput name="night" type="text" [(ngModel)]="bpLocal.night" class="form-control">
                </mat-form-field>
            </mat-card>       
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <button mat-raised-button color="secondary" (click)="remove(bpLocal.id)"
                    *ngIf="bpLocal.id" type="button">Delete</button>
            <a mat-button routerLink="/home">Cancel</a>
        </mat-card-actions>
    </form>
</mat-card>